<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="../vue.js"></script>
<style></style>
<title></title>
</head>
<body>
 女 <input type="radio" name="nv">
  <div id="app">
    <ul>
      <li v-for="(item,index) in arr" :key=index>{{item}}</li>
    </ul>
    <ul>
      <li v-for="(item,index) in obj">{{index}}:{{item}}</li>
    </ul>
  </div>
  <script>
  var vm = new Vue({
     el:'#app',
     data:{
       arr:[1,2,3],
       obj:{
         name:'tom',
         age:19
       }
     },
   })
</script>
</body>
</html>